<%= render "shared/navbar" %>

<div class="container">
  <h2>Wishlist</h2>
  <div class="shelter-cards">
    <div class="shelter-cards-infos">
      <h5>shelter Name</h5>
      <p>bouton</p>
    </div>
    <ul>
      <li>
        <div class= "pets-cards-shelter">
          <img src="https://www.la-spa.fr/app/assets-spa/uploads/animals/20507/bella-20507-61952d88350e9.jpg" alt="">
          <div class= "pets-cards-shelter-infos">
            <p>Dogo</p>
            <p>Race</p>
          </div>
          <p>Voir + infos </p>
          <p>delete</p>
        </div>
      </li>
      <li>Animal</li>
      <li>Animal</li>
    </ul>
  </div>
</div>
