#title h1{
  color: #51B68E;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
}

#image{
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  width: 50vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
}
#content h2{
  color:#272A4B;
  text-align: center;
  font-weight: Harmattan;
  font-weight: bold;
}

#content p{
  color:#272A4B;
  text-align: center;
  font-weight: Harmattan;
}
.circle{
  color: #51B68E;
}
