.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shelter-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.shelter-cards-infos {
  display: flex;
  justify-content: space-between;
}

.pets-cards-shelter {
  display: flex;
  background-color: white;
  align-items: center;
}

.pets-cards-shelter img {
  margin: 0;
}

.pets-cards-shelter p {
  margin: 0;
}
