.background-login{
background-color: #F8F8F8 ;
padding-top: 5vh;
padding-bottom: 5vh;
display: flex ;
flex-direction: column;
align-items: center;
min-height: 90vh;
justify-content: space-evenly;
}

.background-login h2{
  font-family: 'Harmattan', sans-serif;
  font-size: 35px;
}

#register_form {
  margin-top: 8px
}

#back-to-login > span{

  color: #51B68E;
  text-align: center;
  font-size: 16px;
  border-bottom: 0.8px solid;
  opacity: 0.8;

}

.button-back {
  color: #51B68E !important;
  text-decoration: none;
}

.all-login{
  display: flex;
  width: 88%;
  align-items: center;
  margin-bottom: 10px;
}

#back-to-login{
  flex:1;
}

#back-to-login3{
  flex:1;
}

#back-to-login2 > h2{
  margin: 0
}
