.background-login{
background-color: #F8F8F8 ;
padding-top: 5vh;
padding-bottom: 5vh;
display: flex ;
flex-direction: column;
align-items: center;
min-height: 90vh;
justify-content: space-evenly;
}

.background-login h2{
  font-family: 'Harmattan', sans-serif;
  font-size: 35px;
}

#register_form {
  margin-top: 8px
}
