body{
  background: linear-gradient(#DBD8AE, #EFEDCA);
}


.map-view {
 position: relative;
padding-bottom: 60px;
}

.button-adresse {
  position:absolute;
  bottom: 20px;
}

.button-message {
  text-align: center;
}

.container-infos {
  color: 272A4B;
  font-family: 'Harmattan', cursive;
  font-weight: bold;
  font-size: 32px;
}

.container-resize {
  height: 48.5vh;
}


.logo {
  color: #51B68E;

}

.infos-details {
  font-size: 18px;

}



#logo{
  color: #51B68E;
}
