.map-view {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 100vw;
}

.button-adresse {
  z-index: 1;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.button-message {
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -100px;
  left: 90px;
}

.container-infos {
  color: 272A4B;
  font-family: 'Harmattan', cursive;
  font-weight: bold;
  font-size: 32px;
}

.container-resize {
  height: 48.5vh;
}


.logo {
  color: #51B68E;
}

.infos {
  margin-top: 20px;
}

.infos-details {
  font-size: 21px;
  margin-bottom: 2rem;
  font-family: 'Harmattan', cursive;
}

#logo{
  color: #51B68E;
}

.fire {
  position: absolute;
  bottom: -42px;
}

.shelter-contact-btn {
  color: white;
  border: 2px solid #51B68E;
  background-color: #51B68E;
  font-family: 'Harmattan', sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.shelter-contact-btn:hover{
  color: white;
  border: 2px solid #51B68E;
  background-color: #51B68E !important;
  font-family: 'Harmattan', sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
