<div id="container">

    <div id="title">
      <h1>Paws4You</h1>
      </div>
        <div id="image">
          <img src="<%= image_path('dog.png') %>">
      </div>
        <div id="content">
          <h2>Conditions d’adoptions</h2>
            <p>Si vous décidez d’adopter, vous devez obligatoirement être <strong>majeur</strong> et vous inscrire dans une démarche d'adoption responsable.</p>
            <p><i class="fa-duotone fa-circle, circle"></i> <i class="fa-thin fa-circle,circle"></i><i class="fa-thin fa-circle, circle"></i>
      </div>
  </div>
