
  <div class="container">

    <div class="title-conditions">
      <h1>Paws4You</h1>
    </div>
    <div class="image-chien">
      <img src="<%= image_path('dog.png') %>">
    </div>

    <div data-controller="conditions">
      <div class="condition" data-conditions-target="condition1">
        <h2>Conditions d’adoptions</h2>
        <p>Si vous décidez d’adopter, vous devez obligatoirement être <strong>majeur</strong> et vous inscrire dans une démarche d'adoption responsable.</p>
      </div>

      <div class="condition d-none" data-conditions-target="condition2">
        <h2>Adoption Responsable</h2>
        <p>Les refuges veillent à ce que chaque décision soit mûrement réfléchie et que l’animal adopté correspond à sa nouvelle famille et à son mode de vie.</p>
      </div>

      <div class ="condition d-none" data-conditions-target="condition3">
        <h2>Validation du refuge</h2>
        <p>Paws4You vous permet de rencontrer vos animaux préférés au sein de leurs refuges. Une procédure d’adoption </p>
      </div>


      <div class="btn-paw">
        <i data-action="click->conditions#first" data-conditions-target="btn1" class="fa-solid fa-paw paw paw-active"></i>
        <i data-action="click->conditions#second" data-conditions-target="btn2" class="fa-solid fa-paw paw"></i>
        <i data-action="click->conditions#third" data-conditions-target="btn3" class="fa-solid fa-paw paw"></i>
      </div>

        <div class="btn-continuer">
          <input type="button" value="Continuer"data-conditions-target="buttonContinuer" data-action="click->conditions#nextstep">
          <%= link_to "Confirmer", profiles_path, class: "d-none", data: {conditions_target: "buttonConfirmer", turbo_method: :patch} %>
        </div>

  </div>
