
<div id="home-style">
    <div id="content">


      <div id="title">
        <h1>Paws4You</h1>
      </div>

      <div id="text">
        <p>Ils n'attendent plus que vous</p>
      </div>
    </div>

    <img class="home-img" src="<%= image_path('home_page.png') %>">

    <div id="login">
       <%= link_to "CONNEXION/INSCRIPTION", new_user_session_path, :class => 'btn button-home w-100' %>
    </div>
