<div id="home-style">
    <div id="content">
      <div id="title">
        <h1>Paws4You</h1>
      </div>

      <div id="text">
        <p>Ils n'attendent plus que vous</p>
      </div>
    </div>

    <img class="home-img" src="<%= image_path('png-image.png') %>">

  <div id="login">
      <button type="button" class="btn button-home">INSCRIPTION/CONNEXION</button>
   </div>
</div>
