<%= render "shared/navbar" %>
<div class="container">
  <div class="dashboard-titles">
  <h2>Panneau Utilisateur</h2>
  <h5>Dans mon refuge</h5>
  </div>
  <div class="grid">
    <div class="cards-dashboards">
      <p>Doggo</p>
    </div>
    <div class="cards-dashboards">
      <p>Doggo</p>
    </div>
    <div class="cards-dashboards">
      <p>Doggo</p>
    </div>
  </div>
</div>
